<div class="forgot-password-container" style="margin-top: 80px;">
    <form (ngSubmit)="enterVerificationCode()">
      <div>
        <input type="text" id="VerificationCode" [(ngModel)]="VerificationCode"
          name="VerificationCode" required placeholder="Enter Verification Code.." maxlength="6"
        />
      </div>

      <div>
        <input type="password" id="newpassword" [(ngModel)]="newpassword"
          name="newpassword" required placeholder="Enter New Password.."
        />
        <!-- Display password error message -->
        <p *ngIf="passwordErrorMessage" class="error">{{ passwordErrorMessage }}</p>
      </div>

      <div>
        <input type="password" id="confirmnewpassword" [(ngModel)]="confirmnewpassword"
          name="confirmnewpassword" required placeholder="Confirm New Password.."
        />
        <!-- Display confirmation password error message -->
        <p *ngIf="confirmPasswordErrorMessage" class="error">{{ confirmPasswordErrorMessage }}</p>
      </div>

      <button type="submit">Set New Password</button>
    </form>

    <!-- Success message -->
    <p *ngIf="message" class="message">{{ message }}</p>
  </div>
