<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Grade Level Column -->
    <ng-container matColumnDef="gradeLevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Grade Level </th>
      <td mat-cell *matCellDef="let question"> {{ question.gradeLevel }} </td>
    </ng-container>

    <!-- Lesson Name Column -->
    <ng-container matColumnDef="lessonTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lesson Name </th>
      <td mat-cell *matCellDef="let question"> {{ question.lessonTitle }} </td>
    </ng-container>

    <!-- Question Column -->
    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef > Question </th>
      <td mat-cell *matCellDef="let question"> {{ question.question }} </td>
    </ng-container>

    <!-- Reply Column -->
    <ng-container matColumnDef="reply">
      <th mat-header-cell *matHeaderCellDef > Reply </th>
      <td mat-cell *matCellDef="let question"> {{ question.reply }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let question">
        <button class="btn btn-danger btn-sm" (click)="deleteQuestion(question.questionID)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of questions"></mat-paginator>
</div>

<div class="d-flex justify-content-center mt-3">
  <a routerLink="/teacher/Questions/" class="btn btn-primary">Add Common Questions</a>
</div>
