<main class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <a id="upload" class="btn btn-success" routerLink="upload/">Upload New Lessons</a>
    <br><br>
  
    <div class="row" style="margin-top: 30px;">
      <!-- Level 1 -->
      <div id="Levels" class="col-12 col-md-4">
        <a routerLink="level/1" class="nav-link active">
          <div class="Level">
            <h4>Level 1</h4>
            <h5>{{Number}} Videos</h5>
          </div>
        </a>
      </div>
      
      <!-- Level 2 -->
      <div class="col-12 col-md-4">
        <a routerLink="level/2" class="nav-link active">
          <div class="Level">
            <h4>Level 2</h4>
            <h5>{{Number}} Videos</h5>
          </div>
        </a>
      </div>
  
      <!-- Level 3 -->
      <div class="col-12 col-md-4">
        <a routerLink="level/3" class="nav-link active">
          <div class="Level">
            <h4>Level 3</h4>
            <h5>{{Number}} Videos</h5>
          </div>
        </a>
      </div>
    </div>
    
    <br>
    
    <table class="table table-bordered" style="margin-top: 30px;">
      <thead class="thead-dark">
        <tr>
          <th>Student</th>
          <th>Lesson Title</th>
          <th>Level</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of StudenntHomeWork">
          <td>{{ item.userName }}</td>
          <td>{{ item.lessonTitle }}</td>
          <td>{{ item.gradeLevel }}</td>
          <td>
            <a routerLink="/teacher/homework" style="cursor: pointer; text-decoration: none; color: white;">
              <img style="width: 20px;" src="Images/Edit.PNG">
              {{item.studentId}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    
    <a routerLink="homework" id="ShowAll" class="btn btn-outline-primary">Show All</a>
  </main>
  