
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.lecturesContainer{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}
.lecture-card {
  background-color: #dde5ec;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', sans-serif;
  font-size: 16px;
}
.lecture-card img {
  width: 100%;
  height: auto;
}
.lecture-card .lecture-info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lecture-card .lecture-title-description {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.lecture-card .lecture-title {
  font-size: 20px;
  color: #333;
  margin: 0;

}
.lecture-card .lecture-description {
  color: #666;
  margin: 5px 0;

}
.lecture-card .lecture-price {
  background-color: #2c3e50;
  color: #fff;
  padding: 5px 5px;
  border-radius: 5px;
  display: inline-block;
}
.lecture-card .lecture-date-time {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}
.lecture-card .lecture-date-time div {
  text-align: center;
  position: relative;
  padding: 0 10px;
}
.lecture-card .lecture-date-time div:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: #333;
}
.lecture-card .lecture-date-time div p {
  margin: 5px 0;
  color: #333;
}
.lecture-card .edit-button {
  background-color: #2c3e50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  width: 80%;
}
.lecture-card .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: red;
}
.lecture-info{
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
