<div class="forgot-password-container" style="margin-top: 80px;">
  <form (ngSubmit)="sendVerificationCode(email)">
    <div>
      <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Enter Student Email.." />
    </div>
    <button type="submit" [disabled]="isSendButtonDisabled">Send Verification Code</button>
  </form>
  <p *ngIf="message" class="message">{{ message }}</p>
  <a routerLink="/forgotpassword/NewPassword" [class.disabled]="isLinkDisabled" [attr.disabled]="isLinkDisabled ? true : null" style="margin: 190px;">Enter Verification Code</a>
</div>
