<div class="video-upload-container">
  <div *ngIf="successMessage" class="alert alert-success mt-2">
    {{ successMessage }}
  </div>
  <div *ngIf="fileErrorMessage" class="alert alert-danger mt-2">
    {{ fileErrorMessage }}
  </div>
  <div class="video-upload-box">
    <form class="video-details" (ngSubmit)="submitVideo()">
      <label for="title">Video Title</label>
      <input id="title" type="text" [(ngModel)]="NewLesson.Title" name="title" required (blur)="validateField('Title')" /><br>
      <div *ngIf="invalidFields.Title" class="text-danger mt-1">
        Title is required, should be less than 50 characters, and should not start with a number.
      </div> <br>

      <label for="level">Level</label>
      <select id="level" [(ngModel)]="NewLesson.Level" name="level" required (blur)="validateField('Level')">
        <option value="" disabled selected>Select The Level</option>
        <option value="F">1</option>
        <option value="S">2</option>
        <option value="T">3</option>
      </select><br>
      <div *ngIf="invalidFields.Level" class="text-danger mt-1">Level is required</div> <br>

      <label for="videoFile">Upload Video File</label>
      <input   #video id="videoFile" type="file" accept="video/*" (change)="onVideoSelected($event)" required (blur)="validateField('FileVideo')" /><br>
      <div *ngIf="invalidFields.FileVideo" class="text-danger mt-1">Video file is required</div> <br>

      <label for="HomeWorkPDF">Upload HomeWork</label>
      <input  #homework   id="HomeWorkPDF" type="file" accept=".pdf" (change)="onHomeWork($event)" required (blur)="validateField('PDFHomework')" /><br>
      <div *ngIf="invalidFields.PDFHomework" class="text-danger mt-1">HomeWork PDF is required</div> <br>

      <label> Upload Summary </label>
      <input #Attach type="file" accept=".pdf" (change)="onAttachSelected($event)" (blur)="validateField('FileAttach')" /><br>
      <div *ngIf="invalidFields.FileAttach" class="text-danger mt-1">Attachment file is required</div> <br>

      <label for="price">Price</label>
      <input id="price" type="number" [(ngModel)]="NewLesson.Price" name="price" required (blur)="validateField('Price')" min="1" /><br>
      <div *ngIf="invalidFields.Price" class="text-danger mt-1">Price must be greater than 0</div> <br>

      <label for="AccessPeriod">AccessPeriod</label>
      <input id="AccessPeriod" type="number" [(ngModel)]="NewLesson.AccessPeriod" name="AccessPeriod" required (blur)="validateField('AccessPeriod')" min="1" /><br>
      <div *ngIf="invalidFields.AccessPeriod" class="text-danger mt-1">Access period must be greater than 0</div> <br>

      <label for="description">Description</label>
      <textarea id="description" [(ngModel)]="NewLesson.Description" name="description" required (blur)="validateField('Description')"></textarea><br>
      <div *ngIf="invalidFields.Description" class="text-danger mt-1">Description is required</div> <br>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
