    <main class="col-md-9 ml-sm-auto col-lg-10 px-4" >
          <!-- <a id="upload" class="btn btn-success" routerLink="upload/" >Upload New Lessons</a>
          <br>  <br><br>  <br> -->




      <div class="row" style="margin-top: 30px;">

        <!-- level 1 -->
        <div id="Levels" class="col-12 col-md-4">
              <a  routerLink="level/1"   class="nav-link active" >

                      <div class="Level">
                        <h4>Level 1</h4>
                        <h5>{{CountOfVideoLevels.level1}} Videos</h5>
                            </div>
               </a>
          </div>
        <!-- level 2 -->
          <div class="col-12 col-md-4">
            <a  routerLink="level/2"   class="nav-link active" >

                  <div class="Level">
                    <h4>Level 2</h4>
                    <h5>{{CountOfVideoLevels.level2}} Videos</h5>
                        </div>
              </a>
          </div>
          <!-- level 3 -->
          <div class="col-12 col-md-4">
            <a  routerLink="level/3"   class="nav-link active" >

                  <div class="Level">
                    <h4>Level 3</h4>
                    <h5>{{CountOfVideoLevels.level3}} Videos</h5>
                        </div>
               </a>

          </div>
      </div>
      <br><br>
      <!-- <table class="table table-bordered table-striped" style="margin-top: 30px;">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Student</th>
            <th>Course Title</th>
            <th>Level</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allStudents; let i = index; trackBy: trackByStudentId">
            <td>{{ i + 1 }}</td>
            <td>{{ item.userName }}</td>
            <td>{{ item.lessonTitle }}</td>
            <td>{{ item.gradeLevel }}</td>
            <td>
              <button (click)="onclick(item)">
                <img style="width: 20px;" src="Images/Edit.PNG" alt="Edit">
              </button>
            </td>
          </tr>
        </tbody>
      </table> -->
    <!-- /////////////////////// -->
    <!-- <a  routerLink="homework" id="ShowAll"  class="btn btn-outline-primary" > Show All </a> -->

    <app-lesson-income></app-lesson-income>

  </main>

